.listing-box:hover {
  border: none;
}

.main-link:hover {
  font-weight: 300;
}
/* Height */

.h6 {
  height: 24rem;
}
.max-h-5 {
  max-height: 16rem;
}

.bg-menu-blue {
  background-color: var(--menu-blue);
}

@media (--breakpoint-not-small) {
  .top-4-ns {
    top: 4rem;
  }
}
@media (--breakpoint-not-small) {
  .max-h-6-ns {
    max-height: 24rem;
  }
}

@media (--breakpoint-not-small) {
  .h6-ns {
    height: 24rem;
  }
}

/* Font Sizing */

/* F7 */
.f7 {
  font-size: 0.75rem;
}

/* Allow media overides for f7 */
@media (--breakpoint-not-small) {
  .f1-ns {
    font-size: 3rem;
  }
  .f2-ns {
    font-size: 2.25rem;
  }
  .f3-ns {
    font-size: 1.5rem;
  }
  .f4-ns {
    font-size: 1.25rem;
  }
  .f5-ns {
    font-size: 1rem;
  }
  .f6-ns {
    font-size: 0.875rem;
  }
  .f7-ns {
    font-size: 0.75rem;
  }
}

@media (--breakpoint-small) {
  .top-1-9 {
    top: 1.9rem;
  }
}

/* Display */
@media (--breakpoint-not-small) {
  .dn-ns {
    display: none;
  }
}

/* Max Heights */
.mxhi1 {
  max-height: 1rem;
}
.mxhi2 {
  max-height: 2rem;
}
.mxhi3 {
  max-height: 4rem;
}
.mxhi4 {
  max-height: 8rem;
}
.mxhi5 {
  max-height: 16rem;
}
.mxhi6 {
  max-height: 32rem;
}
.mxhi7 {
  max-height: 48rem;
}
.mxhi8 {
  max-height: 64rem;
}
.mxhi9 {
  max-height: 96rem;
}
.mxhi10 {
  max-height: 128rem;
}

@media screen and (--breakpoint-not-small) {
  .mxhi1-ns {
    max-height: 1rem;
  }
  .mxhi2-ns {
    max-height: 2rem;
  }
  .mxhi3-ns {
    max-height: 4rem;
  }
  .mxhi4-ns {
    max-height: 8rem;
  }
  .mxhi5-ns {
    max-height: 16rem;
  }
  .mxhi6-ns {
    max-height: 32rem;
  }
  .mxhi7-ns {
    max-height: 48rem;
  }
  .mxhi8-ns {
    max-height: 64rem;
  }
  .mxhi9-ns {
    max-height: 96rem;
  }
  .mxhi10-ns {
    max-height: 128rem;
  }
}
@media screen and (--breakpoint-medium) {
  .mxhi1-m {
    max-height: 1rem;
  }
  .mxhi2-m {
    max-height: 2rem;
  }
  .mxhi3-m {
    max-height: 4rem;
  }
  .mxhi4-m {
    max-height: 8rem;
  }
  .mxhi5-m {
    max-height: 16rem;
  }
  .mxhi6-m {
    max-height: 32rem;
  }
  .mxhi7-m {
    max-height: 48rem;
  }
  .mxhi8-m {
    max-height: 64rem;
  }
  .mxhi9-m {
    max-height: 96rem;
  }
  .mxhi10-m {
    max-height: 128rem;
  }
}
@media screen and (--breakpoint-large) {
  .dn-l {
    display: none;
  }

  .mxhi1-l {
    max-height: 1rem;
  }
  .mxhi2-l {
    max-height: 2rem;
  }
  .mxhi3-l {
    max-height: 4rem;
  }
  .mxhi4-l {
    max-height: 8rem;
  }
  .mxhi5-l {
    max-height: 16rem;
  }
  .mxhi6-l {
    max-height: 32rem;
  }
  .mxhi7-l {
    max-height: 48rem;
  }
  .mxhi8-l {
    max-height: 64rem;
  }
  .mxhi9-l {
    max-height: 96rem;
  }
  .mxhi10-l {
    max-height: 128rem;
  }
}

/* Margin */
.ma05 {
  margin: 0.125rem;
}

/* Padding */
.pb-video {
  padding-bottom: 56%;
}

/* Height */

.h05 {
  height: 0.8rem;
}

/* Width */
.w05 {
  width: 0.8rem;
}

/*** Flex ***/
.flex-1-0-0 {
  flex: 1 0 0;
}
.flex-2-0-0 {
  flex: 2 0 0;
}
.flex-3-0-0 {
  flex: 3 0 0;
}

@media (--breakpoint-not-small) {
  .flex-1-0-0-ns {
    flex: 1 0 0;
  }
  .flex-2-0-0-ns {
    flex: 2 0 0;
  }
  .flex-3-0-0-ns {
    flex: 3 0 0;
  }
}

@media (--breakpoint-medium) {
  .flex-1-0-0-m {
    flex: 1 0 0;
  }
  .flex-2-0-0-m {
    flex: 2 0 0;
  }
  .flex-3-0-0-m {
    flex: 3 0 0;
  }
}

@media (--breakpoint-large) {
  .flex-1-0-0-l {
    flex: 1 0 0;
  }
  .flex-2-0-0-l {
    flex: 2 0 0;
  }
  .flex-3-0-0-l {
    flex: 3 0 0;
  }
}

/* Sticky */

.sticky {
  position: sticky;
}

@media (--breakpoint-not-small) {
  .sticky-ns {
    position: sticky;
  }
}

@media (--breakpoint-medium) {
  .sticky-m {
    position: sticky;
  }
}

@media (--breakpoint-large) {
  .sticky-l {
    position: sticky;
  }
}

/* z index */

.z--1 {
  z-index: -1;
}

/* Vertical Center Trick */
.v-center {
  top: 50%;
  transform: translateY(-50%);
}

/* Transition */
.transition-opacity {
  transition: opacity 0.15s ease-in;
}
.trans-h {
  transition: height 2s;
}
.trans-slide {
  transition: left 1s;
}

.anchor {
  display: block;
  height: 3rem; /*same height as header*/
  margin-top: -3rem; /*same height as header*/
  visibility: hidden;
}
@media (--breakpoint-not-small) {
  .anchor-ns {
    height: 6rem;
    margin-top: -6rem;
  }
}

.contactAnchor {
  display: block;
  height: 3rem; /*same height as header*/
  margin-top: -3rem; /*same height as header*/
  visibility: hidden;
}
@media (--breakpoint-not-small) {
  .contactAnchor-ns {
    display: block;
    height: 4rem; /*same height as header*/
    margin-top: -4rem; /*same height as header*/
    visibility: hidden;
  }
}
/* SVG Fills */
.svg-fill--light-red {
  fill: var(--light-red);
}

.svg-fill--light-blue {
  fill: var(--light-blue);
}

.svg-fill--light-purple {
  fill: var(--light-purple);
}

.svg-fill--light-yellow {
  fill: var(--light-yellow);
}

.svg-fill--light-green {
  fill: var(--light-green);
}

/* Burger Menu Transitions */
.container {
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 1.2rem;
  height: 0.2rem;
  background-color: white;
  margin: 0.2rem 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.2rem, 0.2rem);
  transform: rotate(-45deg) translate(-0.2rem, 0.2rem);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-0.35rem, -0.35rem);
  transform: rotate(45deg) translate(-0.35rem, -0.35rem);
}

.mobile-link:hover {
  background-color: gray;
  color: white;
}

.scale {
  transform: scale(1.7);
}
