/* Slider */

.image1 {
  left: 0px;
}
.image2 {
  left: -100%;
}
.image3 {
  left: -200%;
}
.image4 {
  left: -300%;
}
.image5 {
  left: -400%;
}
.image6 {
  left: -500%;
}
.image7 {
  left: -600%;
}
.image8 {
  left: -700%;
}
.image9 {
  left: -800%;
}
.image10 {
  left: -900%;
}

.slider-change:hover {
  transform: scale(1.4);
}
