/* Slider */

#slider-image-1:target ~ .image-holder {
  left: 0px;
}
#slider-image-2:target ~ .image-holder {
  left: -100%;
}
#slider-image-3:target ~ .image-holder {
  left: -200%;
}
#slider-image-4:target ~ .image-holder {
  left: -300%;
}
#slider-image-5:target ~ .image-holder {
  left: -400%;
}
#slider-image-6:target ~ .image-holder {
  left: -500%;
}
#slider-image-7:target ~ .image-holder {
  left: -600%;
}
#slider-image-8:target ~ .image-holder {
  left: -700%;
}
#slider-image-9:target ~ .image-holder {
  left: -800%;
}
#slider-image-10:target ~ .image-holder {
  left: -900%;
}

/* .slider-change:active {
  background-color: #ff6a5c;
  transform: scale(1.2);
} */
