extends ../layouts/base

block content
  #contact.w-100.absolute.tc.bg-gray.z-1.h-100
    .mw6.dib.tc.w-100.pb4
      h1.f3.tc.light-gray Contact us
      
      #address 
      h2.f4.red Address
      .silver Gower Str, Bloomsbury, London, WC1E 6BT
      
      h1.f3.tc.light-gray Online
      
      #form.dib.w-100.pr2
        form(method='POST', action=`http://formspree.io/${email}`)
          input(type='text', name='name', placeholder='Your name' title='Your name').dib.w-100.bn.bb.bg-light-silver.br2.ma1.f5.pa2.white
          br
          input(type='email', name='_replyto', placeholder='Your email' title='Your email').dib.w-100.bg-light-silver.bn.br2.ma1.f5.pa2.white
          br
          textarea(name='message', placeholder='Your message' title='Your message').dib.w-100.bg-light-silver.bn.br2.ma1.f5.pa2.h4.white
          br
          input(type="hidden" name="_next" value=`/?mailsent=true`)
          #actions.flex.flex-row.justify-center.items-center
            a(href='/').dib.pointer.f5.no-underline.lh-solid.fw4.bg-light-red.light-gray.pa3.br1.ma2 Cancel
            input(type="submit" value="Send").dib.pointer.f5.no-underline.lh-solid.fw3.bn.bg-green.light-gray.pa3.br1.ma2
            
        
        
