extends ../layouts/base
include ../mixins/snippets
include ../mixins/movie-listing

block content
  #title-container.bg-green.pa3.shadow-5.z-1.light-gray
    
    +breadcrumbs("directors", director.name)
    
    h1.ttu.f2.f1-ns.fw7.lh-title.ma0.mb1.mb3-ns=director.name
    
    if director.description && director.description.html
      .description.w-70-ns
        +sectionParagraph(director.description.html, true)
    
    hr.ma3
    
    h2.ttu.f4.f3-ns.fw6.lh-title.ma0=`movies by ${director.name}`
    
  ul.list.pl0.ma0
    each movie in movies
      li
        +movieListing(movie, "directors")
        

block scripts
  script
    include ../js/main.js
