extends ../layouts/base
include ../mixins/snippets
include ../mixins/movie-listing

block content
  #title-container.pa3.mt5-ns.mt4.shadow-5.z-1.white(class=`bg-${primaryColor}`)
    
    +breadcrumbs("genres", genre.name)
    
    h1.ttu.f2.f1-ns.fw7.lh-title.ma0.mb1.mb3-ns=genre.name
    
    if genre.description && genre.description.html
      .description.w-70-ns
        +sectionParagraph(genre.description.html, true)
    
    hr.ma3
    
    h2.ttu.f4.f3-ns.fw6.lh-title.ma0=`${__.genre_profile.title} ${genre.name}`
    
  ul.list.pl0.ma0
    each movie in movies
      li
        +movieListing(movie)
        

block scripts
  script
    include ../js/main.js
