extends ../layouts/base

block content
    h1 Hello World
    
    ul
      li: a(href="/genres") genres
      li: a(href="/themes") themes
      li: a(href="/directors") directors
      li: a(href="/movies") movies
