extends ../layouts/base
include ../mixins/snippets
include ../mixins/listings

//- VARS FROM VIEW 
  directors - array of director objects
  color - string

mixin directorBox(director)
  - const title = `${__.list_directors.title} ${director.name}`
  - const img = director.image && director.image.secure_url ? director.image.secure_url : null
  +listing("directors", director.name, director.key, title, primaryColor, img)

block content
  
  +titleContainer(primaryColor)
    +breadcrumbs("directors")
    h1.ttu.f2.f1-ns.fw7.lh-title.ma0.mb1.mb3-ns
      | #{__.list_directors.title}
  
  +list()
    each director in directors
      +directorBox(director)
