extends ../layouts/base
include ../mixins/snippets

mixin themeBox(theme)
  .theme-box.h5.bg-light-purple.ba.bw2.b--gray.white.flex.flex-row
    .img-container.w-50.bg-purple
    .title-container.w-50
      p=theme.name

block content
  
  #title-container.bg-purple.pa3.shadow-5.z-1.light-gray
    
    +breadcrumbs("themes")
    
    h1.ttu.f2.f1-ns.fw7.lh-title.ma0.mb1.mb3-ns
      | browse themes
  
  .themes-list.w-100
    ul.list.pl0.ma0.flex.flex-row.flex-wrap.w-100.bl.br.bw2.b--gray
      each theme in themes
        li.w-100.w-50-l
          +themeBox(theme)
