extends ../layouts/base
include ../mixins/snippets
include ../mixins/listings

//- VARS FROM VIEW 
  genres - array genres objects
  color - string

mixin genreBox(genre)
  - const title = `${genre.name} movies`
  - const img = genre.image && genre.image.secure_url ? genre.image.secure_url : null
  +listing("genres", genre.name, title, color, img)

block content
  
  +titleContainer(color)
    +breadcrumbs("genres")
    h1.ttu.f2.f1-ns.fw7.lh-title.ma0.mb1.mb3-ns
      | browse genres
  
  +list()
    each genre in genres
      +genreBox(genre)
