extends ../layouts/base
include ../mixins/snippets
include ../mixins/listings

//- VARS FROM VIEW 
  genres - array genres objects
  color - string

mixin genreBox(genre)
  - const title = `${__.list_genres.title} ${genre.name}`
  - const img = genre.image && genre.image.secure_url ? genre.image.secure_url : null
  +listing("genres", genre.name, genre.key, title, primaryColor, img)

block content
  
  +titleContainer(primaryColor)
    +breadcrumbs(`${__.navbar.genres}`)
    h1.ttu.f2.f1-ns.fw7.lh-title.ma0.mb1.mb3-ns.white
      | #{__.list_genres.title}
  
  +list()
    each genre in genres
      +genreBox(genre)
