extends ../layouts/base
include ../mixins/snippets

block content
  
  #title-container.bg-purple.pa3.shadow-5.z-1.light-gray
    
    +breadcrumbs("themes")
    
    h1.ttu.f2.f1-ns.fw7.lh-title.ma0.mb1.mb3-ns
      | browse themes
  
  include ../partials/themes_list
