extends ../layouts/base
include ../mixins/movie-listing
include ../mixins/snippets

block content
  
  #title-container.pa3.mt5-ns.mt4.shadow-5.z-1.white(class=`bg-${primaryColor}`)
    
    +breadcrumbs("movies")
    

    h1.ttu.f2.f1-ns.fw7.lh-title.ma0.mb1.mb3-ns #{__.list_movies.title}
    h2.ttu.f4.f3-ns.fw6.lh-title.ma0 #{__.list_movies.sub_title}
  ul.list.pl0.ma0
    each movie in movies
      li
       +movieListing(movie)
    
