extends ../layouts/base
include ../mixins/snippets
include ../mixins/listings

//- VARS FROM VIEW 
  directors - array of director objects
  color - string

mixin directorBox(director)
  - const title = `Movies about ${director.name}`
  - const img = director.image && director.image.secure_url ? director.image.secure_url : null
  +listing("director", director.name, title, color, img)

block content
  
  +titleContainer(color)
    +breadcrumbs("directors")
    h1.ttu.f2.f1-ns.fw7.lh-title.ma0.mb1.mb3-ns
      | browse directors
  
  +list()
    each director in directors
      +directorBox(director)
