extends ../layouts/base
include ../mixins/links

block content
    h1=movie.name
    h2=director.name
    p
      for theme in themes
        +linkTheme(theme)
    p
      for genre in genres
        +linkGenre(genre) 
