:root {
  --gray: #424242;
  --light-gray: #a0a0a0;
  --blue: #007b80;
  --light-blue: #00969b;
  --purple: #622d73;
  --light-purple: #813195;
  --yellow: #8f5f1a;
  --light-yellow: #d79028;
  --green: #397034;
  --light-green: #488d41;
  --red: #751425;
  --light-red: #ae1e37;
}

.svg-fill--blue {          fill: var(--light-blue); }
.svg-fill--light-purple {  fill: var(--light-purple); }
.svg-fill--yellow {        fill: var(--light-yellow); }
.svg-fill--green {         fill: var(--light-green); }

.transition-opacity { transition: opacity 1s ease-in }
