:root {
  --gray: #414141;
  --light-gray: #a0a0a0;
  --dark-blue: #247578;
  --blue: #007b80;
  --purple: #622d73;
  --light-purple: #813195;
  --yellow: #d79028;
  --green: #488d41;
  --dark-red: #751425;
  --red: #942c4b;
}

.svg-fill--blue {          fill: var(--blue); }
.svg-fill--light-purple {  fill: var(--light-purple); }
.svg-fill--yellow {        fill: var(--yellow); }
.svg-fill--green {         fill: var(--green); }

.transition-opacity {
  transition: opacity .15s ease-in
}
