:root {
  --gray: #424242;
  --light-gray: #a0a0a0;
  --dark-blue: #007b80;
  --blue: #00969b;
  --purple: #622d73;
  --light-purple: #813195;
  --dark-yellow: #8f5f1a;
  --yellow: #d79028;
  --dark-green: #397034;
  --green: #488d41;
  --dark-red: #751425;
  --red: #ae1e37;
}

.svg-fill--blue {          fill: var(--blue); }
.svg-fill--light-purple {  fill: var(--light-purple); }
.svg-fill--yellow {        fill: var(--yellow); }
.svg-fill--green {         fill: var(--green); }
