#aboutUsSection.f4
  #aboutUsTitle.ttu.bg-dark-red.ph4.pv3.light-gray.f2
    h2.ma0 about us
  
  +aboutUsPara
    | For five years the team have been working with film in both teaching and research. 
    
  +aboutUsPara
    | We have used traditional Euro-American medical humanities approaches to teaching with Chinese film, examining the doctor-patient relationships, the role of qualities like empathy and compassion (or their absence) in improving health care, patient experiences of serious and chronic illness, and medical ethics. Working mainly with Chinese students has brought up critical points of cultural difference, and highlighted the unique challenges that the Chinese speaking worlds face. It also brings a critical focus to what have beenconsidered universal rights in healthcare, in death and dying, and medical ethics in general.
    
  +aboutUsPara
    | The study of medicine in China through film can also offer new insights forthe Medical and Health Humanities, through a more intimate engagement with alternative health systems, but also conceptions of state, community and individual. How the body has been used as a site of personal cultivation, social conformity or political contestation is all made visible in film.
    
  h3.ma0.ph4.dark-red
    | The Team
  +teamName Chris Berry
  +teamName Michael Clark
  +teamName GUO Liping
  +teamName Patrizia Liberati
  +teamName LAI Lili
  +teamName Vivienne LO
