//- #titleContainer.pv3.ph5-ns.white(class=`bg-blue`)
//-   h1.f3.f2-ns.fw7.ttu.lh-title.ma0.white Browse by category
  
a#browseThemesBox.db.no-underline.ttu.bg-white.ph3.ph5-ns.pv3.gray.hover-bg-light-purple.hover-white.pointer.tc(href=`/themes` title="Browse all themes")
  h2.ma0.f4.f3-ns.fw5 #{__.index.link_themes} >>
  
a#browseMoviesBox.db.no-underline.ttu.bg-white.ph3.ph5-ns.pv3.gray.hover-bg-light-blue.hover-white.pointer.tc(href=`/movies` title="Browse all movies")
  h2.ma0.f4.f3-ns.fw5 #{__.index.link_movies} >>
  
a#browseDirectorsBox.db.no-underline.ttu.bg-white.ph3.ph5-ns.pv3.gray.hover-bg-light-green.hover-white.pointer.tc(href=`/directors` title="Browse all directors")
  h2.ma0.f4.f3-ns.fw5 #{__.index.link_directors} >>  
  
a#browseGenresBox.db.no-underline.ttu.bg-white.ph3.ph5-ns.pv3.gray.hover-bg-light-yellow.hover-white.pointer.tc(href=`/genres` title="Browse all genres") 
  h2.ma0.f4.f3-ns.fw5 #{__.index.link_genres} >> 
