nav.bg-gray.h2.h3-ns.w-100.items-center.fixed.z-1.flex.flex-row.items-center.justify-between
  a.h-100.flex-row(href=`/` title="YiMovi home")
    .logo(class=`svg-fill--${secondaryColor}`).h-100
      include ../svg/logo.svg
  div.dn.db-l
    a.link.ph3.white.fw1(href=`/` alt="YiMovi home") Home
    a.link.ph3.white.fw1(href=`/movies` alt="All Films") All Films
    a.link.ph3.white.fw1(href=`/themes` alt="Themes") Themes
    a.link.ph3.white.fw1(href=`/genres` alt="Genres") Genres
    a.link.ph3.white.fw1(href=`/directors` alt="Directors") Directors
    a.link.ph3.white.fw1(href=`/#aboutUsSection` alt="About") About
    a.link.ph3.white.fw1(href=`/contact` alt="Contact") Contact
    - var country= locale==='en' ? ["chn", "Chinese Site" ] : ["en", "English Site"]  
    a.link.ph3.white.fw3.tracked(href=`${country[0]}` alt="Country site") #{country[1]}

