include ../mixins/listings

mixin themeBox(theme)
  - const title = `Movies about ${theme.name}`
  - const img = theme.image && theme.image.secure_url ? theme.image.secure_url : null
  +listing("theme", theme.name, title, 'purple', img)

.themes-list.w-100
  ul.list.pl0.ma0.flex.flex-row.flex-wrap.w-100.ba.bw1.b--light-gray.bg-light-gray
    each theme in themes
      li.w-100.w-50-l
        +themeBox(theme)
