mixin movieListing(movie)
    .movieListing.bg-green.white.bt.b--light-silver.bw2.flex
      .listingImg.w5.bg-dark-green.h5
      .listingDetails.h-100
        if movie.name_chn
          h2.ttu.ma0.lh-copy=movie.name_chn
        h2.ttu.ma0.lh-title=movie.name
