mixin socialIcons(url)
    #socialIcons.inline-flex.items-center.justify-between
      a(href=`https://twitter.com/intent/tweet?url=${url}`).ph1
        include ../svg/twitter.svg
      a(href=`https://www.facebook.com/sharer/sharer.php?u=${url}`).ph1
        include ../svg/facebook.svg  
      a(href=`mailto:?subject=Yimovi&body=${url}`).ph1
        include ../svg/mail.svg  
      
