include ../mixins/flash-messages 
doctype html
html.h-100
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
        
        title= title || 'Chinese Medical Humanities Film - YiMovi'
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/tachyons.min.css")
        
        block css
        
        block head
    
    body.avenir.min-h-100.flex.flex-column
        
        #main-content.flex-auto                        
          block intro
          include ../partials/header.pug
            
          +flash-messages(messages) 

          block content
          
        include ../partials/footer.pug
        
        script
          include ../js/main.js
        
        
